# Postgres configuration
POSTGRES_USERNAME="root"
POSTGRES_PASSWRD="root"
POSTGRES_HOST="localhost"
# POSTGRES_HOST="pg-db"
POSTGRES_PORT=5432
POSTGRES_DB="PCR_LOCAL"
POSTGRES_APP_SCHEMA="AI_BOT"

# Alembic configuration
#SQLALCHEMY_DATABASE_MIGRATION_URL="mssql+pyodbc://sa:#password123sdJwnwlk@localhost:1433/COMMON?TrustServerCertificate=yes&application_name=PEOS&driver=ODBC+Driver+18+for+SQL+Server"
SQLALCHEMY_DATABASE_MIGRATION_URL="postgresql://root:root@localhost:5432/COMMON"
