# Postgres configuration
POSTGRES_USERNAME="root"
POSTGRES_PASSWRD="root"
POSTGRES_HOST="localhost"
# POSTGRES_HOST="pg-db"
POSTGRES_PORT=5432
POSTGRES_DB="PCR_LOCAL"
POSTGRES_APP_SCHEMA="AI_BOT"

# Alembic configuration
#SQLALCHEMY_DATABASE_MIGRATION_URL="mssql+pyodbc://sa:#password123sdJwnwlk@localhost:1433/COMMON?TrustServerCertificate=yes&application_name=PEOS&driver=ODBC+Driver+18+for+SQL+Server"
SQLALCHEMY_DATABASE_MIGRATION_URL="postgresql://root:root@localhost:5432/COMMON"



# Transcriber Configuration
TRANSCRIBER_MODEL_NAME="model-name"
TRANSCRIBER_DEVICE="cpu"
TRANSCRIBER_COMPUTE_TYPE="quantisation_type"
TRANSCRIBER_MODELS_DIR=""  # Optional, defaults to etc/models



# Redis Configuration
REDIS_HOST=localhost
# REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://localhost:6379/0
REDIS_QUEUE_NAME=transcription_jobs
